@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #c521da;
  --secondary-color: #ffee00e1;
  --warning-color: #000000;
  --danger-color: #e02532;
  --alert-color: #ff0000;
  --dark-color: #1a1ae5;
  --light-color: #f8f9fa;
  --success-color: #06d6a0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #777070c4;
  color: var(--dark-color);
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}